<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Thumbs Up</title>
    <link rel="stylesheet" href="../static/css/loader2.css">
    <script>
        // Redirect to /MainInterface after 4 seconds
        setTimeout(function() {
            window.location.href = '/MainInterface';
        }, 4000);
    </script>
</head>
<body>
    <div class="🤚">
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="👉"></div>
        <div class="🌴"></div>
        <div class="👍"></div>
    </div>
    <div class="loader">
        <div class="loading-text">
            Loading<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
        </div>
        <div class="loading-bar-background">
            <div class="loading-bar">
                <div class="white-bars-container">
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                    <div class="white-bar"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>